.fade-in-text {
    opacity: 0;
    transition: opacity 1s;
    position: relative;
    &.inline{
        display: inline-block;
    }
    &.active {
        opacity: 1;
    }
    >.screen-detector-fade-in-text {
        position: absolute;
        bottom: -30vh;
    }
    &.no-delay {
        >.screen-detector-fade-in-text {
            bottom: 0;
        }
    }
}