.fade-in-text {
    opacity: 0;
    transition: opacity 1s;
    position: relative;
    &.inline{
        display: inline-block;
    }
    &.active {
        opacity: 1;
    }
    >.screen-detector-fade-in-text {
        position: absolute;
        bottom: -20vh;
    }
    &.no-delay {
        >.screen-detector-fade-in-text {
            bottom: 0;
        }
    }
}

@media screen and (max-width: 600px) {
    .fade-in-text {
        >.screen-detector-fade-in-text {
            bottom: 0;
        }
        &.no-delay {
            >.screen-detector-fade-in-text {
                bottom: 20px;
            }
        }
    }
}