.contact {
    height: 100vh;
    width: 100vw;
    background-repeat: repeat;
    >.contact-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        text-align: center;
        width: calc(100% - 100px);
        >.contact-intro {
            font-family: Kiona;
            font-size: 30px;
            line-height: 45px;
            >.contact-intro-line {
                overflow: hidden;
                position: relative;
                height: 40px;
                line-height: 50px;
                >.contact-intro-line-content {
                    position: absolute;
                    width: 100%;
                    top: 100%;
                    animation: textGoesUp 0.2s ease-in-out 0.6s forwards;
                }
            }
        }
        >.contact-email {
            margin-top: 3vw;
            overflow: hidden;
            position: relative;
            height: 10vw;
            line-height: 11vw;
            a {
                font-size: 8vw;
                line-height: 9.5vw;
                font-family: Timeless;
                color: var(--color-off-black);
            }
            >.contact-email-content {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top: 100%;
                animation: textGoesUp 0.2s ease-in-out 0.6s forwards;
                >.contact-email-content-text {
                    &.fill {
                        transition: color 0.8s;
                    }
                    &.outline {
                        position: absolute;
                        left: 0;
                        width: 0px;
                        overflow: hidden;
                        transition: width 0.8s;
                        -webkit-text-fill-color: var(--color-off-white-background);
                        -webkit-text-stroke-width: 1px;
                        -webkit-text-stroke-color: var(--color-off-black);
                    }
                }
                &:hover {
                    >.contact-email-content-text {
                        &.outline {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}