.contact-social {
    display: inline-block;
    vertical-align: top;
    margin-left: calc(var(--size-font-text) * 2);
    position: relative;
    >a {
        font-family: Kiona;
        font-size: calc(var(--size-font-text) / 1.67);
        width: 100%;
    }
    >.text {
        &.pink {
            color: var(--color-pink);
            position: absolute;
            left: 0px;
            width: 0px;
            overflow: hidden;
            transition: width 0.5s;
        }
    }
    &:hover {
        >.text {
            &.pink {
                width: 100%;
            }
        }
    }
}