.contact {
    height: 100vh;
    width: 100vw;
    >.contact-background {
        top:-10rem;
        left:-10rem;
        width:calc(100% + 20rem);
        height:calc(100% + 20rem);
        z-index:1;
        content:'';
        position:absolute;
        pointer-events:none;
        background-position:50%;
        pointer-events:none;
    }
    >.contact-content {
        position: absolute;
        z-index:2;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        text-align: center;
        width: calc(100% - 100px);
        >.contact-intro {
            font-family: Kiona;
            font-size: 30px;
            line-height: 45px;
            >.contact-intro-line {
                overflow: hidden;
                position: relative;
                height: 40px;
                line-height: 50px;
                >.contact-intro-line-content {
                    position: absolute;
                    width: 100%;
                    top: 100%;
                    transition: top 0.2s 1.5s;
                }
            }
        }
        >.contact-email {
            margin-top: 3vw;
            overflow: hidden;
            position: relative;
            height: 10vw;
            line-height: 11vw;
            a {
                font-size: 8vw;
                line-height: 9.5vw;
                font-family: Timeless;
                color: var(--color-off-black);
            }
            >.contact-email-content {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top: 100%;
                transition: top 0.2s 1.5s;
                >.contact-email-content-text {
                    &.outline {
                        position: absolute;
                        left: 0;
                        width: 0px;
                        overflow: hidden;
                        transition: width 0.8s;
                        -webkit-text-fill-color: var(--color-off-white);
                        -webkit-text-stroke-width: 1px;
                        -webkit-text-stroke-color: var(--color-off-black);
                    }
                }
                &:hover {
                    >.contact-email-content-text {
                        &.outline {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    >.contact-social-container {
        position: absolute;
        z-index:2;
        right: var(--size-margin);
        bottom: var(--size-margin);
        transform: rotate(-90deg) translateX(100%) translateY(-100%);
        transform-origin: top right;
        >.contact-social-expand {
            display: inline-block;
        }
        >.contact-social-container-content {
            overflow: hidden;
            display: inline-block;
            >.contact-social-container-content-moving {
                transform: translateX(calc(-100% - 15px));
                transition: transform 0.8s;
                &.is-social-visible {
                    transform: translateX(0);
                }
            }
        }
    }
    &.is-visible {
        >.contact-background {
            animation:noise 1s steps(2) infinite;
        }
        >.contact-content {
            >.contact-intro {
                >.contact-intro-line {
                    >.contact-intro-line-content {
                        top: 0%;
                    }
                }
            }
            >.contact-email {
                >.contact-email-content {
                    top: 0%;
                }
            }
        }
    }
}