.navigation-link {
    display: inline-block;
    >a {
        font-family: Kiona;
        font-weight: bold;
        font-size: 25px;
        line-height: 40px;
    }
    >.navigation-link-border-container {
        position: relative;
        >.navigation-link-border-top {
            position: absolute;
            top: 0;
            right: 0;
            height: 2px;
            width: 100%;
            background-color: var(--color-off-black);
            transition: width 0.8s;
        }
    }
    &:hover {
        >.navigation-link-border-container {
            >.navigation-link-border-top {
                width: 0%;
            }
        }
    }
    &.is-white {
        >a {
            color: var(--color-off-white);
        }
        >.navigation-link-border-container {
            >.navigation-link-border-top {
                background-color: var(--color-off-white);
            }
        }
    }
}