.navigation {
    position: absolute;
    // top: 50px;
    // right: 50px;
    width: var(--size-nav-width);
    height: var(--size-nav-height);
    >*:nth-child(odd) {
        width: 10.5vw;
        margin-right: 2vw;
    }
    >*:nth-child(even) {
        width: 12.5vw;
        margin-right: 0;
    }
    >*:nth-child(2), >*:nth-child(1) {
        margin-bottom: 10px;
    }
    &.is-footer{
        float: right;
        position: relative;
        top: unset; 
        right: unset;
    }
    &.is-home {
        top: 50px;
        right: 50px;
        bottom: unset;
        left: unset;
    }
    &.is-about {
        top: 50px;
        right: unset;
        bottom: unset;
        left: calc(100vw - 50px - var(--size-nav-width));
    }
    &.is-contact {
        top: 50px;
        right: 50px;
        bottom: unset;
        left: unset;
    }
    &.is-work {
        
    }
    &.is-services {
        
    }
}