.navigation {
    position: absolute;
    width: var(--size-nav-width);
    height: var(--size-nav-height);
    >.navigation-links {
        >*:nth-child(odd) {
            width: 10.5vw;
            margin-right: 2vw;
        }
        >*:nth-child(even) {
            width: 12.5vw;
            margin-right: 0;
        }
        >*:nth-child(2), >*:nth-child(1) {
            margin-bottom: 10px;
        }
    }
    &.is-footer{
        float: right;
        position: relative;
        top: unset; 
        right: unset;
    }
    &.is-home {
        top: var(--size-margin);
        right: var(--size-margin);
        bottom: unset;
        left: unset;
    }
    &.is-about {
        top: var(--size-margin);
        right: unset;
        bottom: unset;
        left: calc(100vw - var(--size-margin) - var(--size-nav-width));
        z-index:2;
    }
    &.is-contact {
        top: var(--size-margin);
        right: var(--size-margin);
        bottom: unset;
        left: unset;
        z-index:2;
    }
    &.is-work {
        top: unset;
        right: var(--size-margin);
        bottom: calc(100vh - var(--size-margin) - var(--size-nav-height));
        left: unset;
    }
    &.is-services {
        top: var(--size-margin);
        right: var(--size-margin);
        bottom: unset;
        left: unset;
    }
}

@media screen and (max-width: 600px) {
    .navigation {
        >.navigation-links {
            >.navigation-link {
                width: 40vw;
            }
        }
    }
}