.logo {
    position: absolute;
    width: var(--size-nav-height);
    height: var(--size-nav-height);
    border: solid 2px var(--color-off-black);
    transition: transform 0.4s;
    >.logo-inside-square {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        height: 40%;
        width: 40%;
        background-color: var(--color-off-black);
    }
    &.is-footer{
        display: inline-block;
        position: relative;
        top: unset; 
        left: unset;
        width: 6.1vw;
        height: 6.1vw;
        z-index: unset;
    }
    &:hover {
        transform: scale(1.4);
    }
    &.is-white {
        border: solid 2px var(--color-off-white);
        >.logo-inside-square {
            background-color: var(--color-off-white);;
        }
    }
    &.is-home {
        top: 50px;
        right: unset;
        bottom: unset;
        left: 50px;
    }
    &.is-about {
        top: 50px;
        right: unset;
        bottom: unset;
        left: 50px;
    }
    &.is-contact {
        top: 50px;
        right: calc(100vw - 50px - var(--size-nav-height));
        bottom: unset;
        left: unset;
    }
    &.is-work {
        top: unset;
        right: unset;
        bottom: calc(100vh - 50px - var(--size-nav-height));
        left: 50px;
    }
    &.is-services {
        top: 50px;
        right: unset;
        bottom: unset;
        left: 50px;
    }
}
