@font-face {
    font-family: Kiona;
    font-display: swap;
    src: url('/portfolio/font/Kiona-Regular.woff') format('woff'),
         url('/portfolio/font/Kiona-Regular.ttf') format('truetype');
}

@font-face {
    font-family: Kiona;
    font-display: swap;
    font-style: italic;
    src: url('/portfolio/font/Kiona-Itallic.woff') format('woff'),
         url('/portfolio/font/Kiona-Itallic.ttf') format('truetype');
}

@font-face {
    font-family: Timeless;
    font-display: swap;
    src: url('/portfolio/font/Timeless.woff') format('woff'),
         url('/portfolio/font/Timeless.ttf') format('truetype');
}

@font-face {
    font-family: Timeless;
    font-display: swap;
    font-weight: bold;
    src: url('/portfolio/font/Timeless-Bold.woff') format('woff'),
         url('/portfolio/font/Timeless-Bold.ttf') format('truetype');
}

@font-face {
    font-family: Signature;
    font-display: swap;
    src: url('/portfolio/font/Bs-Signature-Demo.woff') format('woff'),
         url('/portfolio/font/Bs-Signature-Demo.ttf') format('truetype');
  }