@import '../../../colors.scss';
@import '../../../sizes.scss';

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: var(--color-off-black);
    position: relative;
    overflow: hidden;
    >.content {
      flex: 1;
    }
    h1 {
      margin: 0;
    }
    h2 {
      margin: 0;
    }
    h3 {
      margin: 0;
    }
    a {
      text-decoration: none;
      color: var(--color-off-black);
    }
}

html {
    scroll-behavior: smooth;
}
