.fade-in-image {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: calc(var(--size-margin) * (-1));
    transform: translateZ(-1px) scale(2);
    opacity: 0;
    transition: opacity 1s;
    z-index: -1;
    &.active {
        opacity: 1;
    }
    >.screen-detector-fade-in-image {
        position: absolute;
        top: 60%;
        left: 50%;
    }
    &.no-delay {
        >.screen-detector-fade-in-image {
            bottom: 0;
        }
    }
    >img {
        position: absolute;
        right: var(--size-margin);
        top: calc(var(--size-font-text) * 6);
        width: 50vh;
    }
}

@media screen and (max-width: 600px) {
    .fade-in-image {
        display: none;
    }
}