.footer {
    >.footer-fixed-background {
        top:-10rem;
        left:-10rem;
        width:calc(100% + 20rem);
        height:calc(100% + 20rem);
        z-index:-2;
        content:'';
        position:absolute;
        pointer-events:none;
        background-position:50%;
        pointer-events:none;
        animation:noise 1s steps(2) infinite;
    }
    >.footer-fixed {
        pointer-events: auto;
        position: fixed;
        bottom: 0; 
        left: 0; 
        right: 0;
        z-index: -2;
        color: var(--color-off-black);
        padding: 50px;
        transform: translateX(-100%);
        transition: transform 0.8s;
        font-family: Kiona;
        background-repeat: repeat;
        border-top: solid 4px var(--color-off-black);
        &.active {
            transform: translateX(0%);
            >.footer-name-and-logo {
                >.footer-name {
                    >.footer-name-letter {
                        >.from-left {
                            animation: fromLeft 0.6s linear 1s forwards;
                            transform: translateX(-100%);
                        }
                        >.from-right {
                            animation: fromRight 0.6s linear 1s forwards;
                            transform: translateX(100%);
                        }
                        >.from-above {
                            animation: fromAbove 0.6s linear 1s forwards;
                            transform: translateY(-100%);
                        }
                        >.from-below {
                            animation: fromBelow 0.6s linear 1s forwards;
                            transform: translateY(100%);
                        }
                    }
                }
            }
        }
        >.footer-name-and-logo {
            margin-bottom: 30px;
            a {
                line-height: calc(var(--size-font-text) * 2);
            }
            >.footer-name {
                float: right;
                font-size: 9.5vw;
                margin-top: -3.5%;
                >.footer-name-letter {
                    display: inline-block;
                    vertical-align: top;
                    overflow: hidden;
                }
            }
        }
        >.footer-social-container {
            a {
                font-family: Kiona;
                line-height: calc(var(--size-font-text) * 2);
                font-weight: 100;
                font-size: var(--size-font-text);
            }
            >.footer-email-container {
                width: 250px;
                >.footer-email {
                    &.pink {
                        color: var(--color-pink);
                        position: absolute;
                        left: 50px;
                        width: 0px;
                        overflow: hidden;
                        transition: width 0.8s;
                    }
                }
                &:hover {
                    >.footer-email {
                        &.pink {
                            width: 250px;
                        }
                    }
                }
            }
        }
        >.footer-copyright {
            text-align: center;
            display: inline-block;
            width: 100%;
            margin-top: 30px;
        }
    }
    >.footer-padding {
        pointer-events: none;
        position: relative;
        >.screen-detector {
            position: absolute;
            bottom: 0;
        }
    }
    &.is-dark {
        >.footer-fixed {
            color: var(--color-off-white);
            border-color: var(--color-off-white);
            a {
                color: var(--color-off-white);
            }
        }
    }
}

@keyframes fromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes fromRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes fromAbove {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes fromBelow {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0%);
    }
}