.footer-social {
    display: inline-block;
    vertical-align: top;
    margin-right: var(--size-font-text);
    transition: transform 0.4s;
    >a {
        >img {
            height: calc(var(--size-font-text) * 2.5);
            width: calc(var(--size-font-text) * 2.5);
        }
    }
    &:hover {
        transform: rotate(360deg);
    }
}