.home {
    height: 100vh;
    width: 100vw;
    background-repeat: repeat;
    >.home-background {
        top:-10rem;
        left:-10rem;
        width:calc(100% + 20rem);
        height:calc(100% + 20rem);
        z-index:-1;
        content:'';
        position:absolute;
        pointer-events:none;
        background-position:50%;
        pointer-events:none;
        animation:noise 1s steps(2) infinite;
    }
}