.about-text-title {
    -webkit-text-fill-color: var(--color-background-black);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--color-off-white);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items : center;
    margin-top: calc(var(--size-font-text) * 1.5);
    margin-bottom: calc(var(--size-font-text) * 1.5);
    position: relative;
    >.about-text-title-line-before {
        height: 1px;
        width: 0px;
        background-color: var(--color-off-white);
        transition: width 0.8s;
    }
    >.about-text-title-text {
        display: inline-block;
        margin-right: calc(var(--size-font-text) * 1.5);
        transition: margin-left 0.8s;
        font-size: calc(var(--size-font-text) * 4);
        line-height: calc(var(--size-font-text) * 4);
    }
    >.about-text-title-line {
        flex: 1;
        >.about-text-title-line-inside {
            display: inline-block;
            vertical-align: middle;
            height: 1px;
            width: 0px;
            background-color: var(--color-off-white);
            transition: width 0.8s;
        }
    }
    >.screen-detector-about-title {
        position: absolute;
        bottom: -21vh;
    }
    &.active {
        >.about-text-title-line {
            >.about-text-title-line-inside {
                width: 100%;
            }
        }
    }
    &:hover {
        >.about-text-title-line-before {
            width: calc(var(--size-font-text) * 3);
        }
        >.about-text-title-text {
            margin-left: calc(var(--size-font-text) * 1.5);
        }
    }
}

@media screen and (max-width: 600px) {
    .about-text-title {
        >.about-text-title-text {
            font-size: calc(var(--size-font-text) * 2);
            line-height: calc(var(--size-font-text) * 2);
        }
    }
}
