.about {
    height: 100vh;
    width: 100vw;
    background-repeat: repeat;
    color: var(--color-off-white);
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 1px;
    >.about-portrait {
        position: absolute;
        right: 0;
        bottom: 0;
        pointer-events: none;
        width: 100vw;
        height: 100vh;
        transform: translateZ(-1px) scale(2); // scale(1 + (translateZ * -1) / perspective) with perspective=1px
        // see https://keithclark.co.uk/articles/pure-css-parallax-websites/
        >img {
            position: absolute;
            right: 80px;
            bottom: 0;
            height: 85vh;
            display: inline-block;
        }
        >.photo-credits {
            display: inline-block;
            position: absolute;
            font-family: Kiona;
            font-size: 15px;
            right: 50px;
            bottom: 0;
            transform: rotate(-90deg) translateX(100%) translateY(-100%);
            transform-origin: top right;
            pointer-events: auto;
            >a {
                font-family: Kiona;
                font-size: 15px;
                color: var(--color-off-white);
                transition: color 0.2s;
            }
            &:hover {
                >a {
                    color: var(--color-pink);
                }
            }
        }
    }
    >.about-intro {
        font-family: Timeless;
        font-size: var(--size-font-text);
        line-height: calc(var(--size-font-text) * 1.5);
        position: absolute;
        left: calc(50px + var(--size-nav-width) + 50px);
        right: calc(50px + 50vh + 50px);
        bottom: 100px;
    }
    >.about-text {
        font-family: Timeless;
        font-size: var(--size-font-text);
        line-height: calc(var(--size-font-text) * 1.7);
        position: absolute;
        left: 50px;
        right: calc(50px + 50vh + 50px);
        top: 90vh;
        height: 100vh;
        >a {
            color: var(--color-off-white);
        }
        .kiona {
            font-family: Kiona;
            position: relative;
            white-space: nowrap;
            >.kiona-background {
                position: absolute;
                bottom: -2px;
                left: 0;
                width: 100%;
                background-color: var(--color-pink);
                height: calc(var(--size-font-text) / 2);
                z-index: -1;
                transform: skewX(-30deg);
            }
            &:hover {
                >.kiona-background {
                    animation: grow 0.6s linear;
                }
            }
        }
        .transparent {
            -webkit-text-fill-color: var(--color-background-blakc);
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: var(--color-off-white);
        }
        >.about-text-title {
            -webkit-text-fill-color: var(--color-background-black);
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: var(--color-off-white);
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items : center;
            margin-bottom: 30px;
            >.about-text-title-line-before {
                height: 1px;
                width: 0px;
                background-color: var(--color-off-white);
                transition: width 0.8s;
            }
            >.about-text-title-text {
                display: inline-block;
                margin-right: 30px;
                transition: margin-left 0.8s;
                font-size: calc(var(--size-font-text) * 4);
                line-height: calc(var(--size-font-text) * 4);
            }
            >.about-text-title-line {
                flex: 1;
                >.about-text-title-line-inside {
                    display: inline-block;
                    vertical-align: middle;
                    height: 1px;
                    width: 0px;
                    background-color: var(--color-off-white);
                    transition: width 0.8s;
                }
            }
            &.active {
                >.about-text-title-line {
                    >.about-text-title-line-inside {
                        width: 100%;
                    }
                }
            }
            &:hover {
                >.about-text-title-line-before {
                    width: 60px;
                }
                >.about-text-title-text {
                    margin-left: 30px;
                }
            }
        }
    }
}

@keyframes grow {
    0%{
        width: 0;
    }
    100%{
        width: 100%;
    }
}