.about-education-list-item {
    margin-left: 30px;
    img {
        width: 50px;
        margin-right: 30px;
        vertical-align: middle;
        transition: transform ease-in 0.4s;
        &:hover {
            // transform: rotate(20deg);
        }
    }
}