.about-education {
    margin-bottom: 60px;
    position: relative;
    .border {
        border: solid 1px var(--color-off-white);
        text-align: center;
        padding: 20px;
        font-family: Kiona;
        margin-bottom: 30px;
        transition: color 0.4s, border-color 0.4s;
        &:hover {
            color: var(--color-pink);
            border-color: var(--color-pink);
        }
    }
    >.one-line {
        margin-bottom: calc(var(--size-font-text) * 2);
        font-size: var(--size-font-text);
        position: relative;
        >.column-left, >.column-right {
            display: inline-block;
            vertical-align: top;
        }
        >.column-left {
            width: 25%;
            text-align: right;
        }
        >.column-right {
            width: calc(75% - 30px);
            margin-left: 30px;
            text-align: left;
        }
        &:hover {
            >.column-left {
                >.about-education-date {
                    >.fade-in-text {
                        >.underline {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}