.about-education-list-item {
    margin-left: calc(var(--size-font-text) * 1.5);
    img {
        width: 50px;
        margin-right: calc(var(--size-font-text) * 1.5);
        vertical-align: middle;
        transition: transform ease-in 0.4s;
        &:hover {
            // transform: rotate(20deg);
        }
    }
}

@media screen and (max-width: 600px) {
    .about-education-list-item {
        margin-left: -25vw;
        img {
            width: 30px;
            margin-right: 10px;
        }
    }
}